body {
  /* background: url(../images/bg-agents.jpg) center center/cover no-repeat; */
  background-color: var(--base-color);
  background-size: 100vw 100vw;
  background-attachment: fixed;
}
h1 {
  text-align: center;
  color: aliceblue;
  padding: 1vw;
  border-bottom: 1px solid var(--contrast-color);
  width: fit-content;
  margin: auto;
}
#phone-nav {
  display: none;
}

.container {
  padding-top: 10rem;
}
.outer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem 0rem;
}

.inner-container {
  margin: 3vw 1vw;
  padding: 1vw 1vw;
  text-align: center;
  /* border: 2px solid var(--primary-color); */
}

.inner-container img {
  width: 20vw;
}
.inner-container p {
  margin: 1vw;
}
.inner-container a {
  color: var(--base-color);
  background-color: var(--secondary-color);
  padding: 1vw 4.5vw;
  margin: ;
}
.inner-container a:hover {
  color: white;
  background-color: var(--primary-color);
}
.new {
  display: none;
}
footer {
  padding: 1vw 2vw;
  background-color: var(--contrast-color);
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1198px) and (min-width: 794px) {
  .contrast {
    padding: 1%;
  }
  .container {
    padding-top: 8rem;
  }
  .new {
    display: none;
  }
}
@media (max-width: 794px) and (min-width: 550px) {
  .new {
    display: flex;
  }
  .old {
    display: none;
  }
  .container {
    padding-top: 7rem;
  }

  .inner-container img {
    width: 30vw;
  }
  .inner-container a {
    padding: 1vw 6vw;
  }
  .contrast {
    padding: 0%;
  }
}
@media (max-width: 550px) {
  .outer-container {
    flex-direction: column;
  }
  .inner-container img {
    width: 90vw;
  }
}
