body {
  /* background: url(../images/bg-agents.jpg) center center/cover no-repeat; */
  background-color: var(--base-color);
  background-size: 100vw 100vw;
  background-attachment: fixed;
}
h1 {
  text-align: center;
  color: aliceblue;
  padding: 1vw;
  border-bottom: 1px solid var(--contrast-color);
  width: fit-content;
  margin: auto;
}
#phone-nav {
  display: none;
}

.container {
  padding-top: 10rem;
}
.outer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem 0rem;
}

.inner-container {
  margin: 3vw 1vw;
  padding: 1vw 1vw;
  text-align: center;
  /* border: 2px solid var(--primary-color); */
}

.inner-container img {
  width: 20vw;
}
.inner-container p {
  margin: 1vw;
}
.inner-container a {
  color: var(--base-color);
  background-color: var(--secondary-color);
  padding: 1vw 4.5vw;
}
.inner-container a:hover {
  color: white;
  background-color: var(--primary-color);
}
.new {
  display: none;
}
footer {
  padding: 1vw 2vw;
  background-color: var(--contrast-color);
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1198px) and (min-width: 794px) {
  #phone-nav img {
    width: 25vw;
  }

  .contrast {
    padding: 1%;
  }
  .container {
    padding-top: 8rem;
  }
  .new {
    display: none;
  }
}
@media (max-width: 794px) and (min-width: 450px) {
  #phone-nav {
    display: flex;
    background-color: white;
  }
  #desk-nav {
    display: none;
  }
  .new {
    display: flex;
  }
  .old {
    display: none;
  }
  .container {
    padding-top: 5rem;
  }

  .inner-container img {
    width: 37vw;
  }
  .inner-container a {
    padding: 1vw 6vw;
  }
  .contrast {
    padding: 0%;
  }
}
@media (max-width: 450px) {
  #phone-nav {
    display: flex;
    background-color: white;
  }
  #phone-nav img {
    width: 27vw;
  }
  .new {
    display: flex;
  }
  .old {
    display: none;
  }
  .outer-container {
    flex-direction: column;
  }
  .inner-container img {
    width: 85vw;
  }
  body {
    font-size: calc(13px + (3) * ((100vw -740px) / (756)));
  }
  .inner-container a {
    padding: 2vw 8vw;
  }
  .container {
    padding-top: 9rem;
  }
  footer {
    display: flex;
    flex-direction: column;
    padding: ;
    justify-content: center;
    text-align: center;
  }
  footer p {
    width: 95vw;
    order: 2;
    text-align: center;
  }
  footer div {
    padding: 1vw;
    width: 30vw;
    margin: auto;
  }
}
