:root {
  --base-color: rgb(3, 31, 87);
  --primary-color: rgb(81, 104, 149);
  --secondary-color: rgb(144, 156, 180);
  --contrast-color: rgb(204 158 83);
}

* {
  text-decoration: none;
  padding: 0%;
  margin: 0%;
  line-height: 1.6vw;
  list-style: none;
  /* font-size: calc(9px + (4) * ((100vw -740px) / (756))); */
  /* overflow: hidden; */
}
.white {
  color: white;
}
.base {
  color: var(--base-color);
}
.primary {
  color: var(--primary-color);
}
.secondary {
  color: var(--secondary-color);
}
.contrast {
  color: var(--contrast-color);
}
.alignment {
  padding: 2rem;
  margin: 2rem;
}
.pops {
  width: 12vw;
  background-color: var(--base-color);
}
.button {
  padding: 0.8vw;
  display: block;
  margin: 1vw 20%;
  border: 2px solid var(--secondary-color);
  text-align: center;
}
.button:hover {
  border: 2px solid var(--primary-color);
  /* color: var(--primary-color); */
}
.center {
  text-align: center;
  display: block;
  margin: auto;
}

/*CSS of navigation bar  */
nav {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  background-color: white;
}
nav ul {
  display: flex;
  align-items: end;
  justify-content: right;
  flex-grow: 0.8;
  justify-content: center;
}

nav li {
  list-style: none;
  margin: 1rem 2rem;
}
nav li a:hover {
  color: var(--contrast-color);
}

nav img {
  width: 10vw;
  object-fit: cover;
  margin: -30px 0px -40px 0px;
}

nav li:nth-child(5):hover {
  color: var(--contrast-color);
  cursor: pointer;
}
