:root {
  --base-color: rgb(49, 65, 98);
  --primary-color: rgb(98, 116, 151);
  --secondary-color: rgb(144, 156, 180);
  --contrast-color: rgb(207, 173, 117);
}

* {
  text-decoration: none;
  padding: 0%;
  margin: 0%;
  line-height: 1.6rem;
  list-style: none;
  transition: all;
  transition-duration: 200ms;
  font-family: "Fira Sans", sans-serif;
}
body {
  font-size: calc(8px + (4) * ((100vw -740px) / (756)));
}
h1 {
  font-size: calc(16px + (4) * ((100vw -740px) / (756)));
}

h2 {
  font-size: calc(14px + (4) * ((100vw -740px) / (756)));
}
h3 {
  font-size: calc(11px + (4) * ((100vw -740px) / (756)));
}
.white {
  color: white;
}
.base {
  color: var(--base-color);
}
.primary {
  color: var(--primary-color);
}
.secondary {
  color: var(--secondary-color);
}
.contrast {
  color: var(--contrast-color);
  padding: 1rem 0rem;
}
.alignment {
  padding: 2rem;
  margin: 2rem;
}

.button {
  padding: 0.8vw;
  display: block;
  margin: 1vw 20%;
  border: 2px solid var(--secondary-color);
  text-align: center;
}
.button:hover {
  border: 2px solid var(--primary-color);
  /* color: var(--primary-color); */
}
.center {
  text-align: center;
  display: block;
  margin: auto;
}

/*CSS of navigation bar  */
nav {
  box-sizing: border-box;
  padding: 0.5rem 2rem;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  background-color: white;
  z-index: 2;
  align-items: center;
  border-bottom: 1px solid grey;
}
nav ul {
  display: flex;
  align-items: end;
  justify-content: center;
}

nav li {
  list-style: none;
  margin: 1rem 2rem;
}
nav li a:hover {
  color: var(--contrast-color);
}

nav img {
  width: 10vw;
  object-fit: cover;
  /* margin: -30px 0px -40px 0px; */
}

nav li:nth-child(5):hover {
  color: var(--contrast-color);
  cursor: pointer;
}

/* CSS for footer  */
footer {
  align-items: center;
  padding: 0.4vw 2vw;
  background-color: var(--contrast-color);
  display: flex;
  justify-content: space-between;
}
footer i {
  padding: 0.5vw;
}
