body {
  font-size: calc(11px + (5) * ((100vw -240px) / (756)));
  line-height: 4vw !important;
}
h1 {
  /* font-size: calc(27px + (4) * ((100vw -740px) / (756))); */
  line-height: 8.5vw !important;
}
h2 {
  /* font-size: calc(27px + (4) * ((100vw -740px) / (756))); */
  line-height: 7.5vw !important;
}
#desk-nav {
  display: none;
}
#phone-nav {
  display: block;
}
#phone-nav img {
  width: 20vw;
  object-fit: cover;
  /* margin: -30px 0px -40px 0px; */
}
#phone-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vw 5vw;
}
#phone-nav ul {
  background-color: white;
  position: absolute;
  right: 3vw;
  top: 13.5vw;
  border-top: 2px solid var(--secondary-color);
  border-left: 2px solid var(--secondary-color);
  border-right: 2px solid var(--secondary-color);
  z-index: 2;
}
#phone-nav li {
  border-bottom: 2px solid var(--secondary-color);
  padding: 1vw;
}
#desk-trans {
  display: none;
}
#phone-trans {
  display: block;
  width: 100vw;
  overflow: hidden;
}
.trans {
  padding: 0%;
}
.cards {
  box-sizing: border-box;
  display: block;
  position: static;
  width: 100%;
  padding: 4% 10%;
}
.cards a {
  margin: 2vw 17vw;
}
.call {
  top: 13.5vw;
  left: 55vw;
  width: 12rem;
}
#estate-container {
  margin: 2rem 0rem;
}
.outer-card {
  flex-direction: column;
  justify-content: center;
}
.inner-card {
  box-sizing: border-box;
  margin: 1vw;
  text-align: center;
  /* background-color: var(--secondary-color); */
  padding: 5vw 1vw;
  display: flex;
  width: 100%;
  align-items: center;
}
.inner-card p {
  text-align: justify;
  padding: 1vw;
  /* width: 55vw; */
}
.outer-card .contrast {
  /* line-height: 4vw; */
  padding: 0vw;
}
.inner-card img {
  width: 32vw;
  padding: 1vw;
}

.outer-rental {
  box-sizing: border-box;
  margin: 1rem auto;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-top: 2px solid var(--primary-color);
  padding: 1vw;
}
.outer-rental img {
  /* margin: auto; */
  width: 38vw;
  margin: 1vw;
}

.outer-realtor {
  flex-direction: column;
}
.inner-realtor {
  width: 85vw;
  margin: auto;
}

.outer-clients {
  flex-direction: column;
}
.inner-clients {
  width: 60vw;
  margin: 1vw auto;
}
#clients::before {
  height: 55rem;
}
#clients {
  height: 55rem;
}

.outer-contact {
  flex-direction: column;
}
.inner-contact {
  width: 70vw;
  margin: 3vw;
}
.form {
  margin: auto;
}
.inner-contact input {
  width: 50%;
}
#contt {
  margin: 1vw;
}

footer div {
  width: 35vw;
  margin-right: 10rem;
}

@media (max-width: 550px) {
  body {
    line-height: 6vw !important;
  }
  .call {
    top: 14vw;
  }
  .inner-card {
    flex-direction: column;
    justify-content: center;
  }
  .inner-card img {
    width: 93vw;

    padding: 1vw;
  }
  .inner-card p {
    width: 93vw;
  }
  .inner-card a {
    margin-top: 4vw;
  }
  .outer-rental {
    flex-direction: column;
  }
  .outer-rental img {
    width: 90vw;
  }
  .inner-rental-2,
  .inner-rental-1 {
    width: 90vw;
  }
  .inner-rental-2 {
    order: 2;
  }
  .last {
    padding: 2vw;
  }
}
