/* nav {
  padding-bottom: 10px;
  border-bottom: 2px solid grey;
} */
.heading {
  color: var(--base-color);
  text-align: center;
  margin: auto;
  padding-top: 10vw;
  /* padding: 0.5vw; */
  width: min-content;
  border-bottom: 2px solid var(--contrast-color);
}
.outer-cont {
  display: flex;
  justify-content: center;
  text-align: center;
}
.inner-cont img {
  width: 20vw;
  /* display: block; */
  /* object-fit: cover; */
}
.inner-cont {
  padding: 0%;
  border: 2px solid grey;
  margin: 2vw 1vw;
  /* width: min-content; */
}
.inner-cont p {
  /* width: 80%; */
  padding: 0%;
  margin: 0%;
}

.inner-cont a {
  display: block;
  border: 1px solid var(--primary-color);
  padding: 0.5vw;
  margin: 1vw;
  color: var(--primary-color);
}
.inner-cont a:hover {
  color: var(--secondary-color);
  border-color: var(--secondary-color);
}

/* Next Page  */
#rentals {
  padding: 1%;
  position: absolute;
  top: 50%;
  right: 1%;
  background-color: var(--primary-color);
  color: white;
  border-radius: 30px;
  cursor: pointer;
  transition-timing-function: ease-in;
}


footer {
  align-items: center;
  padding: 0.4vw 2vw;
  background-color: var(--contrast-color);
  display: flex;
  justify-content: space-between;
}
footer i {
  padding: 0.5vw;
}
