nav {
  padding-bottom: 10px;
  border-bottom: 2px solid grey;
}
.heading {
  color: var(--base-color);
  text-align: center;
  margin: 1vw;
  margin-top: 10vw;
  /* padding: 0.5vw; */
  /* border-bottom: 2px solid var(--contrast-color); */
  text-decoration: underline;
  text-decoration-color: var(--contrast-color);
}
.outer-cont {
  display: flex;
  justify-content: center;
  text-align: center;
}
.inner-cont img {
  width: 20vw;
  /* display: block; */
  /* object-fit: cover; */
}
.inner-cont {
  padding: 0%;
  border: 2px solid grey;
  margin: 2vw 1vw;
  /* width: min-content; */
}
.inner-cont p {
  /* width: 80%; */
  padding: 0%;
  margin: 0%;
}

.inner-cont a {
  border: 1px solid var(--primary-color);
  padding: 0.2vw;
}
