/* nav {
  padding-bottom: 10px;
  border-bottom: 2px solid grey;
} */
* {
  line-height: 2rem !important;
}
#phone-nav {
  display: none;
}
.new {
  display: none !important;
}
.heading {
  color: var(--base-color);
  text-align: center;
  margin: auto;
  padding-top: 10vw;
  /* padding: 0.5vw; */
  width: min-content;
  border-bottom: 2px solid var(--contrast-color);
}
.outer-cont {
  display: flex;
  justify-content: center;
  text-align: center;
}
.inner-cont img {
  width: 20vw;
}
.inner-cont {
  padding: 0%;
  border: 2px solid grey;
  margin: 2vw 1vw;
  width: min-content;
}
.inner-cont p {
  /* width: 80%; */
  padding: 0%;
  margin: 0%;
}

.inner-cont a {
  display: block;

  padding: 0.4rem;
  margin: 2rem 3rem;
  color: white;
  background-color: var(--base-color);
}
.inner-cont a:hover {
  background-color: var(--primary-color);
}

/* Next Page  */
#rentals {
  padding: 1%;
  position: absolute;
  top: 50%;
  right: 1%;
  background-color: var(--base-color);
  color: white;
  border-radius: 30px;
  cursor: pointer;
  transition-property: all;
  transition-timing-function: ease-in;
  transition-duration: 200ms;
}

#sales {
  padding: 1%;
  position: absolute;
  top: 50%;
  left: 1%;
  background-color: var(--base-color);
  color: white;
  border-radius: 30px;
  cursor: pointer;
  transition-property: all;
  transition-timing-function: ease-in;
  transition-duration: 200ms;
}
#rentals:hover {
  right: 0.5%;
}
#sales:hover {
  left: 0.5%;
}
@media (max-width: 1198px) and (min-width: 794px) {
  #phone-nav img {
    width: 25vw;
  }
  .inner-cont img {
    width: 25vw;
  }
  .inner-cont a {
    margin: 2rem 2rem;
  }
}

@media (max-width: 794px) and (min-width: 450px) {
  #phone-nav {
    display: flex;
    background-color: white;
  }
  #desk-nav {
    display: none;
  }
  .new {
    display: flex !important;
  }
  .old {
    display: none;
  }
  .inner-cont img {
    width: 35vw;
  }
  .inner-cont a {
    margin: 2rem 1rem;
  }
}
@media (max-width: 450px) {
  #phone-nav {
    display: flex;
    background-color: white;
  }
  #phone-nav img {
    width: 27vw;
  }
  .outer-cont {
    flex-direction: column;
    align-items: center;
  }
  .inner-cont img {
    width: 90vw;
  }
  body {
    font-size: calc(13px + (3) * ((100vw -740px) / (756)));
  }
  footer {
    display: flex;
    flex-direction: column;
    padding: ;
    justify-content: center;
    text-align: center;
  }
  footer p {
    width: 95vw;
    order: 2;
    text-align: center;
  }
  footer div {
    padding: 1vw;
    width: 30vw;
    margin: auto;
  }
}
