/* CSS of Transition images */
.trans {
  margin: 0% !important;
  overflow: hidden;
  width: 100%;
  display: block;
}
.trans div img {
  width: 100%;
  display: block;
  overflow: hidden;
}
#phone-trans {
  display: none;
}

.container {
  width: 100%;
  margin: 2rem 0rem;
  padding: 2rem 0rem;
}
.container img {
  /* display: block; */
}
.call {
  text-align: center;
  position: absolute;
  top: 5.5em;
  left: 70vw;
  padding: 0.8vw 1vw;
  width: 12rem;
  background-color: var(--base-color);
}

.cards {
  color: white;
  width: 20vw;
  position: absolute;
  top: 28vw;
  left: 20%;
  background-color: rgba(49, 65, 98, 0.964);
  padding: 1.5rem;
  text-align: justify;
}
.cards h2 {
  padding-bottom: 1rem;
}
h1,
h2 {
  text-align: center;
}
.cards a {
  color: white;
  padding: 0.6rem;
  display: block;
  margin: 1.5vw;
  border: 2px solid white;
  text-align: center;
  transition-property: all;
  transition-duration: 200ms;
}
.cards a:hover {
  border: 2px solid var(--secondary-color);
  color: var(--secondary-color);
  /* background-color: var(--primary-color); */
}
/* CSS of Estate Cards  */
#estate-container {
  margin-top: 14rem;
  /* width: 100vw; */
}

.outer-card {
  /* width: 200vw; */
  margin: 3rem 1vw;
  display: flex;
  justify-content: center;
}
.inner-card {
  margin: 0.8rem;
  padding: 0rem 0.3rem;
  text-align: justify;
  width: min-content;
  border: transparent;
}
.inner-card img {
  width: 20vw;
}

#estate-container a {
  color: var(--secondary-color);
}
#estate-container a:hover {
  color: var(--primary-color);
}
/* CSS of rental properties */
.outer-rental {
  background-color: var(--base-color);
  margin: 10vw 15vw;
  padding: 1rem;
  display: flex;
  justify-content: center;
}
.inner-rental-1 {
  text-align: justify;
  width: 18rem;
  margin: 1rem;
  /* position: relative; */
  /* margin: auto; */
}
.inner-rental-2 {
  text-align: justify;
  width: 18rem;
  margin: 1rem;
  /* position: relative; */
}
.outer-rental img {
  width: 26vw;
  margin: -4vw 0rem auto 0rem;
}

.rental-img img {
}

/* CSS of realtors */
.outer-realtor {
  display: flex;
  justify-content: center;
  /* margin-bottom: 10vw; */
}

.inner-realtor {
  text-align: center;
  margin: 2% 1% 1% 1%;
  width: 20vw;
}

.inner-realtor h3 {
  color: var(--base-color);
}

.inner-realtor p {
  margin: 1rem 0rem;
}
/* CSS of Clients Section */
.inner-cont {
  padding: 4rem;
}

.outer-clients {
  display: flex;
  justify-content: center;
  height: 100%;
}
.inner-clients {
  margin: 4%;
  width: 14rem;
}
#clients::before {
  content: "";
  width: 100%;
  height: 33rem;
  position: absolute;
  background: url(/images/trans-2.jpg) center center/cover no-repeat;
  opacity: 0.8;
  background-attachment: fixed;
  z-index: -1;
}
#clients {
  background-color: rgba(2, 2, 42, 0.536);
  z-index: -2;
  height: 33rem;
}

/* CSS of contact is section  */
.outer-contact {
  display: flex;
  justify-content: space-evenly;
  margin: 2rem 0rem;
  padding: 2rem 0rem;
}
.inner-contact {
  width: 25vw;
}
.form {
  text-align: center;
  /* width: 20vw; */
}

.inner-contact input {
  display: block;
  padding: 1%;
  margin: 3% auto;
  width: 18vw;
  /* margin: auto; */
}

.inner-contact #submit {
  margin: auto;
  color: white;
  background-color: var(--primary-color);
  border: none;
}
.inner-contact #submit:hover {
  background-color: var(--secondary-color);
}

.last {
  text-align: center;
  position: fixed;
  bottom: 1%;
  right: 1.5%;
  padding: 0.6% 1%;
  width: 8rem;
  background-color: var(--base-color);
  /* border: 2px solid var(--secondary-color); */
}

/* CSS for footer  */
footer div {
  margin: 0rem 14rem 0rem 0rem;
}

@media (max-width: 1298px) and (min-width: 794px) {
  .cards {
    width: 18rem;
  }

  .outer-card img {
    width: 25vw;
  }
  .inner-realtor {
    width: 22vw;
  }

  .outer-rental {
    margin: 10vw 14vw;
  }
  .outer-rental img {
    width: 28vw;
  }
  .form {
    width: 25vw;
  }

  .inner-contact input {
    width: 22vw;
  }
}
